<h2>Apacheのリバースプロキシの設定 - CentOS 7</h2>

Apacheでのリバースプロキシの設定です。

<pre>
<VirtualHost *:80>
  ServerName www.mydomain.example
  
  <Proxy *>
    Require all granted
  </Proxy>

  ProxyRequests Off
  ProxyPreserveHost On
  ProxyPass / http://localhost:10000/ keepalive=On
  ProxyPassReverse / http://localhost:10000/
  RequestHeader set X-Forwarded-Proto "https"
</VirtualHost>
</pre>

<h3>リバースプロキシ設定の解説</h3>

<h4>プロキシへのアクセスをすべて通す</h4>

デフォルトでは、プロキシへのアクセスを通さないようになっているので、通す設定を行います。

<pre>
  <Proxy *>
    Require all granted
  </Proxy>
</pre>
