<h2>apacheのエラーログの場所 - CentOS 7</h2>

apacheのエラーログは以下の場所にあります。

<pre>
/var/log/httpd/error_log
</pre>

エラーログは初期設定では、自動的にルーティングしており、4つの過去ログも同じディレクトリにあります。

<pre>
error_log-20200112
error_log-20200119
error_log-20200126
error_log-20200202
</pre>

<h3>エラーログを確認する方法</h3>

エラーログを確認する方法として、ファイルの内容を出力・確認できるLinuxコマンドを紹介しておきます。

<ul>
  <li><a href="https://linux.perlzemi.com/blog/20200202124238.html">headコマンド - ファイルの先頭を出力</a></li>
  <li><a href="https://linux.perlzemi.com/blog/20200203124238.html">tailコマンド - ファイルの末尾を出力</a></li>
  <li><a href="https://linux.perlzemi.com/blog/20200113083613.html">cat - ファイルの内容を出力する</a></li>
  <li><a href="https://linux.perlzemi.com/blog/20190401171737.html">vi - コマンドライン用のテキストエディタ</a></li>
</ul>
