<!-- side -->
<div class="side-list">
  <div class="side-list-title">
    コンテンツ
  </div>
  <ul>
    <li><a href="/list.html">記事の一覧</a></li>
  </ul>
</div>

<div class="side-list" style="margin-top:30px">
  <div class="side-list-title">
    関連リンク
  </div>
  <ul>
    <li><a href="https://tutorial.perlzemi.com/">テキスト処理と正規表現ならPerl入門ゼミ</a></li>
    <li><a href="https://linux.perlzemi.com/">Linuxコマンドを覚えるならLinuxサーバー管理入門</a></li>
    <li><a href="https://web.perlzemi.com/">Webシステム開発入門 Perl+Mojolicious</a></li>
  </ul>
</div>
